body {
    margin: 0;
    background: black;
}

.bg {
    height: 100%;
}

div.container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

div.container div.align {
    position: relative;
    width: 10000px;
    left: 50%;
    margin: 0 0 0 -5010px;
    text-align: center;
}

area {
    display: block;
    background-color: red;
}